$react-to-top-options: (
  enlarge-distance: -10px,
  transition-duration: 0.3s
) !default;

.react-to-top {
  $enlarge-distance: map-get(
    $map: $react-to-top-options,
    $key: enlarge-distance
  );
  $transition-duration: map-get(
    $map: $react-to-top-options,
    $key: transition-duration
  );

  background: none;
  border: none;
  outline: none;
  position: fixed;
  cursor: pointer;
  transition: opacity $transition-duration, z-index $transition-duration;

  &:after {
    content: "";
    position: absolute;
    top: $enlarge-distance;
    right: $enlarge-distance;
    bottom: $enlarge-distance;
    left: $enlarge-distance;
  }

  &[data-visible="true"] {
    opacity: 1;
    z-index: 2;
  }

  &[data-visible="false"] {
    opacity: 0;
    z-index: -1;
  }

  &:active {
    opacity: 0.6;
  }

  > * {
    vertical-align: top;
  }
}
